.personInfo {
  margin-bottom: 20px;
}

.regForm {
  margin-bottom: 20px;
}

.about {
  margin-bottom: 20px;
}

.additional {
  margin-bottom: 20px;
}

.inputField:not(:last-of-type) {
  margin-bottom: 10px;
}
